.sidebar{
    width: 447px;
    height: 739px;
    border-right: 1px solid #ccc;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 16px;
}

.avatar-img{
height: 40px;
width: 40px;
border-radius: 50%;
}

.header-icons{
    display: flex;
    justify-content: right;
    gap: 14px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-icon{
    width: 28px;
    height: 28px;
    color: #aebac1;
}

.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111b21;
}

.search{
    position: relative;
    width: 359px;
    height: 35px;
}

.search-icon{
    /* position: absolute; */
}